.main-banner {
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  max-width: 216px;
  margin: 0 auto 72px;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.main-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;

  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .main-banner {
    max-width: 768px;
    padding: 112px 0;
  }

  .main-title {
    max-width: 496px;
    margin-bottom: 36px;

    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1158px) {
  .main-banner {
    max-width: 1440px;
    padding: 188px 0;
  }

  .main-title {
    max-width: 496px;
    margin-bottom: 48px;

    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-resolution: 2dppx) {
  .main-banner {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero-bg@2x.jpg");
  }
}